body {
    background: rgb(27,38,59);
    background: linear-gradient(135deg, rgba(27,38,59,1) 0%, rgba(65,90,119,1) 100%);
    font-size: 16px;
    font-family: sans-serif;
    color: #E0E1DD;
    padding: 0;
    margin: 0;
}

.errors {
    color: darkred;
    font-weight: bold;
    margin-bottom: 8px;
}

.message {
    color: darkgreen;
    font-weight: bold;
    margin-bottom: 8px;
}

h2 {
    font-size: 24px;
    color: #040403;
}

.right-container {
    height: 100vh;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}